.button {
  padding: 5px 20px;
  width: 118px;
  height: 34px;
  border: 0;
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.01em;
  border-radius: 10px;
  transition: color 0.3s;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--active-color);
      color: var(--white-color);
    }

    &:active {
      background-color: #f8e6be;
      color: var(--black-color);
    }
  }

  @media (max-width: 930px) {
    width: 114px;
    height: 34px;
    font-size: 16px;
  }
}
