.title {
  margin: auto;
  margin-bottom: 30px;
  padding-top: 135px;
  width: 730px;
  text-align: center;
  font-weight: 700;
  font-size: 59px;
  line-height: 74px;
  color: var(--black-color);
  letter-spacing: 0;

  @media (max-width: 1199px) {
    margin-bottom: 29px;
  }

  @media (max-width: 930px) {
    margin-bottom: 20px;
    padding-top: 75px;
    width: 318px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }

  @media (max-width: 350px) {
    font-size: 30px;
  }
}
