.subtitle {
  margin: auto;
  padding-bottom: 99px;
  width: 402px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  line-height: 28.4px;

  @media (max-width: 930px) {
    padding-bottom: 40px;
    width: 320px;
    text-align: center;
    font-size: 16px;
    line-height: 23.4px;
  }
}
